{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Book Your Slot</h3>
    <div class="box">
        
            
                {% if booked %}
            <div class="notification is-danger">
                You already have a booking.
            </div>
                {% elif empty %}
            <div class="notification is-danger">
                Sorry all slots are filled.
            </div>
                {% else %}
                <div class="field">
                <form method="POST" action="/book">
                    <fieldset>
                        <legend>Selecting elements</legend>
                        <p>
                           <label>Select Slot Number</label>
                           <select id = "slot" name="slot">
                            {% for slot in slots %}
                             <option name="slot" class="btn btn-default" value = "{{ slot }}">{{ slot }}</option>
                             {% endfor %}
                             </select>
                        </p>
                     </fieldset>
                
                <center>
                <button class="button is-info " type='Submit'>Book</button>
            </center>
            </form>
                </div>
            {% endif %}
    </div>
</div>
{% endblock %}